{% include 'partials/head.html' %}
<style>
    .search-box{
        margin: var(--spacing-gutter-medium) auto;
    }
</style>
<body>
    
    {% include 'partials/header.html' %}

    {% include 'partials/search-box.html' %}

    <section class="featured-properties">


        <div class="property-grid">
            
            {% if not properties %}
                <div class="section-header">
                    <p2>Nenhum imóvel encontrado. Tente alterar os filtros. :)</p2>
                </div>
            {% endif %}
                

            {% for property in properties %}

            {% include 'partials/property-card.html' %}

            {% endfor %}

        </div>

        <div class="featured-actions">
            <a href="/" class="btn-view-all">
                Voltar à Página Inicial
            </a>
        </div>
    </section>

    {% include 'partials/footer.html' %}

    {% include 'partials/login-required-modal.html' %}

</body>
</html>