<style>
    .favorite-btn {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    border: none;
    outline: none;

    background: white;
    border-radius: 50%;

    cursor: pointer;

    text-decoration: none;
}
</style>
<article class="property-card">

    <div class="property-image">

        {% if property.featured %}
            <span class="property-badge">
                Destaque
            </span>
        {% endif %}

        {% if user.is_authenticated %}

            <a
                href="{% url 'core:toggle_favorite' property.id %}"
                class="favorite-btn"
            >

                {% if property.id in favorites_ids %}
                    <i class="fa-solid fa-heart"></i>
                {% else %}
                    <i class="fa-regular fa-heart"></i>
                {% endif %}

            </a>

        {% else %}

        <button
            type="button"
            class="favorite-btn js-open-login-modal"
        >

            <i class="fa-regular fa-heart"></i>

        </button>

        {% endif %}
        <a href="{% url 'core:property_detail' property.id %}">
            {% if property.image %}
                <img src="{{ property.image.url }}" alt="">
            {% else %}
                <img src="https://loremflickr.com/1200/800/architecture,house" alt="">
            {% endif %}
        </a>

        <span class="property-views">
            <i class="fa-regular fa-eye"></i> {{ property.views }}
        </span>

    </div>

    <div class="property-content">

        <div class="property-city">
            <i class="fa-solid fa-map-pin"></i> {{ property.city }}
        </div>

        <h3>
            <a href="{% url 'core:property_detail' property.id %}">{{ property.title }}</a>
        </h3>

        <div class="property-price">
            R$ {{ property.price }}
        </div>

        <div class="property-details">

            <span>
                <i class="fa-solid fa-bed"></i> {{ property.bedrooms }}
            </span>

            <span>
                <i class="fa-solid fa-shower"></i> {{ property.bathrooms }}
            </span>

            <span>
                <i class="fa-solid fa-car-side"></i> {{ property.garages }}
            </span>

            <span class="property-area">
                {{ property.area }}m²
            </span>

        </div>

    </div>

</article>