<div class="search-box">

    <div class="search-grid">

        <div class="field">
            <label>Cidade</label>
            <select>
                <option>Selecione a cidade</option>
            </select>
        </div>

        <div class="field">
            <label>Tipo de Imóvel</label>
            <select>
                <option>Tipo do imóvel</option>
            </select>
        </div>

        <div class="field">
            <label>Valor Mínimo</label>
            <input type="text" placeholder="R$ 0">
        </div>

        <div class="field">
            <label>Valor Máximo</label>
            <input type="text" placeholder="R$ 999.999">
        </div>

    </div>

    <button class="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
        Buscar Imóveis
    </button>

</div>